<div class="grid">
<div class="grid-2">
<section>
  <span class="first-text">Create your screens your</span>
    <div class="second-text">visitors deserve to see.</div>
      <p class="third-text">amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button mat-stroked-button color="primary" class="first-button">Learn More</button>
      <button mat-stroked-button color="warn" class="second-button">Learn More</button>
</section>
</div>
<div>
  <img src="" alt="">
</div>
</div>
