<mat-toolbar color="primary">
   <a mat-flat-button routerLink="/" class="nav-link">
  <span><!--ICON--> <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">eco</mat-icon> --> Cool business name</span></a>

<!--   <div class="spacer"></div>
 -->
<div class="centered-nav">
  <a mat-button routerLink="products">Products</a>
  <a mat-button routerLink="aboutus">About Us</a>
  <a mat-button routerLink="contactus">Contact Us</a>
</div>
<div class="buttons-login">
 <a><button mat-raised-button color="accent" routerLink="signin">Sign In</button></a>
</div>
</mat-toolbar>