.spacer{
  display: flex;
  flex: 1 1 auto;

}

.gradient-nav {
  background: linear-gradient(90deg, hsla(283, 83%, 86%, 1) 0%, hsla(105, 11%, 85%, 1) 100%);
  box-shadow: 2px 2px 10px purple;
}


.nav-link {
  background-color: turquoise;
   display:flex;
   min-width: 90px;
}

.text-inside {
  min-width: 90px;
  display: flex;
  overflow: none;
}

.centered-nav {
  justify-content: center;
  display: flex;
  flex: 1 1 auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.button-login {
  right: 0;
  display: flex;
  margin: 0px;
}

.marginated-div {
  margin: 20px;
  padding: 10px;
}

@media screen and (min-width: 800px) {
  .container {
      width: 90%;
      max-width: 900px;
      margin: 0 auto;
      flex-direction: column;
  }
}
@media screen and (min-width: 600px) {
  .container {
   display: block;
  }
}
@media (min-width: 200px) and (max-width:480px) {
  .container {
    margin: 0;
    padding: 0;
    max-width:none;
}
.button-login {

}
.spacer {
  display: none;
}
}

