<nav class="container">
<div class="marginated-div">
<mat-toolbar class="gradient-nav">
   <a mat-flat-button routerLink="/" class="nav-link">
  <span class="text-inside"><!--ICON-->  <mat-icon aria-hidden="false" aria-label="Example home icon">eco</mat-icon>  CoolName</span></a>

<!--   <div class="spacer"></div>
 -->
<ul class="centered-nav">
    <li><a mat-button routerLink="products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Features</a></li>
    <li><a mat-button routerLink="aboutus" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a></li>
</ul>

 <a><button mat-raised-button color="accent" routerLink="signin" class="button-login">Sign In</button></a>

</mat-toolbar>
</div>
</nav>
